<br>
<img src="./../../assets/img/logonew 1.jpg" class ="img" width = "67px" height = "67px" flex-shrink="0"><br><br>
<img src="../../assets/img/Rectangle 10.jpg"  class="image" width="342px" height = "351px">
<form class="forms">
        <div>
            <br><br>
          <b> <label class="name">Enter your Name</label><br><br></b>
            <input type="text" class="form-control" placeholder="" >
            <p class="req">Name is required</p>
        </div>
    <br>

      <div>
          
        <b> <label class="name">Enter your Mobile number</label></b><br><br>
          <input type="number" class="form-control" placeholder="" >
          <p class="req">Mobile number is required</p><br>
          <p class="note">NOTE: We’ll never share the number with anyone</p>
          
      </div>
    <br>
        
        <div>
    
            <button onclick="" class="sub" >Get OTP</button>
    
    </div>
</form>

